@import 'normalize';

@font-face {
    src: url('../fonts/Exo2.0-Thin.otf');
    font-family: 'Exo';
}




// Fonts
$exo: 'Exo';
$trebuchet: 'Trebuchet MS';

// Colors
$elements: #1698D9;
$elements_hover: #2EA8E6;
$elements_selected: #D91667;
$elements_selected_hover: #E52E7A;
$not_available: #B3B3B3;
$textLight: #fff;
$textNormal: #666666;
$textDark: #000;

// Borders
$border_width: 4px;
$card_border: $border_width solid;
$border_radius: 12px;

// Beveled corner
$bevel: 34px;
$full_bevel: calc(#{$bevel * 2});
$bevel_and_borders: calc(#{$bevel} + #{$border_width * 2});

// Elements
$cursor: pointer;
$cursor_not_available: default;




@mixin card_border ($border_color: $elements) {
    position: relative;
    width: 100%;
    height: 480px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        border: $card_border;
        border-color: $border_color;
    }

    &::before {
        top: -$bevel;
        left: -$bevel;
        width: $full_bevel;
        height: $full_bevel;
        transform: rotate(45deg);
        box-shadow: 0 0 0 600px #F2F2F2;
    }
    
    &::after {
        left: 0;
        bottom: 0;
        width: $bevel_and_borders;
        height: calc(100% - #{$bevel_and_borders});
        border-top: none;
        border-right: none;
        border-bottom-left-radius: $border_radius;
    }
}




// GENERAL

* {
    box-sizing: border-box;
}

body, h1, h2, h3, p {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background: url('../images/Pattern.png') center / auto repeat border-box;
    font-family: $trebuchet;
    font-style: normal;
    font-weight: normal;
}

.overlay {
    display: flex;
    min-height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
}

.content_wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 36px 0;
}

h1 {
    margin-bottom: 25px;
    padding: 0 4px;
    font-family: $exo;
    font-size: 36px;
    line-height: 43px;
    font-weight: 300;
    text-align: center;
    color: $textLight;
    text-shadow: 0px 1px 1px #000000;
}




// MAIN CONTENT

#main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card_box {
    width: 320px;
    margin: 0 40px;

    @media (max-width: 1199px) {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (min-width: 768px) and (max-width: 799px) {
        margin-left: 20px;
        margin-right: 20px;
    }

    @media (max-width: 400px) {
        margin-left: 0;
        margin-right: 0;
    }
}

.card_wrapper {
    margin-bottom: 14px;
    padding-left: $bevel_and_borders;
    border-radius: $border_radius;
    overflow: hidden;
    cursor: $cursor;
}

.card_wrapper_border {
    @include card_border();
}

.card_content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 17px 8px;
    border: $card_border;
    border-color: $elements;
    border-left: none;
    border-top-right-radius: $border_radius;
    border-bottom-right-radius: $border_radius;
}

.message {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    color: $textNormal;
}

.title,
.taste {
    font-weight: bold;
    color: $textDark;
}

.title {
    font-size: 48px;
    line-height: 56px;
}

.taste {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 28px;
}

.bonus {
    font-size: 14px;
    line-height: 16px;
    color: $textNormal;

    span {
        font-weight: bold;
    }
}

.label_photo {
    position: absolute;
    bottom: 0;
    left: calc(0px - #{$bevel_and_borders});
    display: block;
}

.weight_wrapper {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 80px;
    height: 80px;
    padding-top: 24px;
    border-radius: 50%;
    background-color: $elements;
    font-size: 21px;
    line-height: 22px;
    text-align: center;
    color: $textLight;
}

.weight {
    padding: 0 10px;
    font-size: 42px;
    line-height: 22px;
}

.measure {
    padding: 0 15px;
}

.description {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: $textLight;

    span {
        font-weight: bold;
        color: $elements;
        cursor: $cursor;

        span {
            background:
            linear-gradient(to right, $elements, $elements 60%, transparent 60%, transparent 100%)                
            0 bottom / 5px 1px repeat-x;
        }
    }
}




// NOT AVAILABLE

.card_not_available {
    @include card_border(#{$not_available});
    cursor: $cursor_not_available;
    mix-blend-mode: normal;

    .card_content {
        border-color: $not_available;
    }

    .message, .title,
    .taste, .bonus, .label_photo {
        opacity: 0.5;
    }

    .message, .title,
    .taste, .bonus {
        color: $not_available;
    }

    .weight_wrapper {
        background-color: $not_available;
    }
}

.description_not_available {
    color: #FFFF66;

    span {
        cursor: $cursor_not_available;
    }
}




// HOVER

.card_hover {
    &.card_wrapper_border {
        @include card_border(#{$elements_hover});
    }

    .card_content {
        border-color: $elements_hover;
    
        .weight_wrapper {
            background-color: $elements_hover;
        }
    }
}

.description_hover {
    span {
        color: #22A7E9;

        span {
            background-image: linear-gradient(to right, $elements_hover, $elements_hover 60%, transparent 60%, transparent 100%);
        }
    }
}




// SELECTED

.card_selected {
    &.card_wrapper_border {
        @include card_border(#{$elements_selected});
    }
    
    .card_content {
        border-color: $elements_selected;

        .weight_wrapper {
            background-color: $elements_selected;
        }
    }
}




// SELECTED HOVER

.card_selected_hover {
    &.card_wrapper_border {
        @include card_border(#{$elements_selected_hover});
    }
    
    .card_content {
        border-color: $elements_selected_hover;

        .message {
            color: #E62E7A;
        }

        .weight_wrapper {
            background-color: $elements_selected_hover;
        }
    }
}
